POSTGRES_DB=speed_violation
POSTGRES_USER=speed_violation
POSTGRES_PASSWORD=change_me_use_a_strong_password

APP_DOMAIN=speed-violation.nebulax.com.br
LETSENCRYPT_EMAIL=admin@nebulax.com.br

APP_IMAGE=ghcr.io/oswaldoschermach/speed-violation-service:latest

SERVER_PORT=8080
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0
