{
	email {$LETSENCRYPT_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip

	reverse_proxy app:8080 {
		health_uri /actuator/health/readiness
		health_interval 30s
	}

	log {
		output stdout
		format console
	}
}
